.top {
	background-image: url(../img/page1_top_bg.jpg);
	height: 13.45rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.main {
	background-image: url(../img/page1_main_bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 41.15rem;
	position: relative;
}
.homepage .main ul {
	height: 2.7rem;
	background-color: #a32a24;
	display: flex;
	justify-content: space-around;
}
.homepage .main ul li {
	height: 100%;
	width: 5.53rem;
	float: left;
	text-align: center;
	line-height: 2.7rem;
	color: rgba(255,255,255,0.3);
	font-size: 1rem;
	font-weight: bold;
}
.homepage .main ul li:nth-of-type(1) {
	background-image: url(../img/page1_nav_active.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: white;
	font-size: 1.23rem;
}
.homepage .main ul li:nth-of-type(4) a {
	color: rgba(255,255,255,0.3);
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	/*点击一瞬间就不会有背景框*/
}
.try {
	background-image: url(../img/page1_btn_next.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 14.07rem;
	height: 3.23rem;
	position: absolute;
	left: 16.15rem;
	top: 19.23rem;
}
.car {
	background-image: url(../img/page1_k4.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 18.77rem;
	position: absolute;
	top: 22.3rem;
}
.footer {
	width: 100%;
	height: 22.07rem;
	background-image: url(../img/page1_tab_bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
.homeparents {
	width: 100%;
	height: 100%;
	background-color: #131415;
	display: none;
	position: relative;
}
.footerNav li {
	width: 14.45rem;
	height: 2.7rem;
	position: absolute;
}
.footerNav li:nth-of-type(1) {
	background-image: url(../img/page1_btn_video_active.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 1.4rem;
}
.footerNav li:nth-of-type(2) {
	background-image: url(../img/page1_btn_pic.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 16rem;
}
.footerShow {
	position: relative;
}
.footerVideo {
	width: 28.9rem;
	height: 13.5rem;
	position: absolute;
	left: 1.40rem;
	top: 2.75rem;
	overflow: hidden;
	border: 2px solid #a82d2a;
}
.footerVideo video {
	object-fit: fill;
	width: 100%;
	height: 100%;
	/*视频撑满*/
}
.videoPoster {
	width: 100%;
	height: 100%;
	background-image: url(../img/page1_video_poster.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.allWrongDiv {
	position: absolute;
	top: 35%;
	left: 50%;
	z-index: 30;
}
.wrongDiv {
	width: 18rem;
	height: 4rem;
	margin-left: -9rem;
	color: white;
	font-size: 1.6rem;
	text-align: center;
	line-height: 4rem;
	background-color: black;
	border-radius: 5px;
	font-weight: bold;
	opacity: 0.5;
}
.activityExplain {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	z-index: 30;
	overflow: hidden;
}
.explainMain {
	width: 30rem;
	height: 40rem;
	border: 0.1rem solid #A32A24;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	margin-top: 1rem;
}
.close {
	width: 4.3rem;
	height: 5.75rem;
	position: absolute;
	left: 25.3rem;
	top: 1rem;
	background-image: url(../img/commen_close.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.explainTitle {
	color: white;
	text-align: center;
	font-size: 1.9rem;
	line-height: 6.2rem;
	font-weight: bold;
}
.scrollWrap {
	height: 31rem;
	margin: 0 2rem;
	overflow: hidden;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
}
.tryForm {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	z-index: 30;
	overflow: hidden;
}
.bodyForm {
	width: 30rem;
	height: 40rem;
	border: 0.1rem solid #A32A24;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	margin-top: 1rem;
}
.closeTry {
	width: 4.3rem;
	height: 5.75rem;
	position: absolute;
	left: 25.3rem;
	top: 1rem;
	background-image: url(../img/commen_close.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.finForm {
	width: 30rem;
	height: 34rem;
	padding-top: 6rem;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}
.finForm div {
	float: right;
	margin-right: 1.7rem;
	margin-bottom: 1rem;
}
.finForm input {
	width: 18.3rem;
	height: 2.8rem;
	border: 0.1rem solid #A32A24;
}
#drive {
	width: 20rem;
	margin-right: 4rem;
}
#drive span {
	margin: 0 2rem;	
}
#driveis {
	width: 1rem;
	height: 1rem;
}
.fuqi span {
	float: left;
	line-height: 3rem;
}
.sheng {
	width: 7.35rem;
	height: 3.05rem;
	background-image: url(../img/layer_select_bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.sheng select {
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	color: #A32A24;
}
.shi {
	width: 7.35rem;
	height: 3.05rem;
	background-image: url(../img/layer_select_bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.shi select {
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	color: #A32A24;
}
.fin {
	width: 18.3rem;
	height: 2.8rem;
	border: 0.1rem solid #A32A24;
	background-color: white;
	float: right;
}
.fin select {
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	color: #A32A24;
}
.sub {
	background-image: url(../img/layer_info_submit.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 1.5rem 8rem;
}
